{:aliases
 {:prod {:jvm-opts ["-Dprod"]}
  :nrepl {:extra-deps {cider/cider-nrepl {:mvn/version,"0.58.0"}
                       nrepl/nrepl {:mvn/version "1.5.2"}}
          :main-opts ["-m" "nrepl.cmdline"]}}
 :deps {babashka/fs {:mvn/version "0.5.31"}
        clj-python/libpython-clj {:mvn/version "2.026"}
        com.rpl/specter {:mvn/version "1.1.6"}
        lambdaisland/edn-lines {:mvn/version "1.0.10"}
        org.clojure/data.priority-map {:mvn/version "1.2.1"}}}